/* Rose Pine main dark theme for Forgejo. */
:root {
    --rose-pine-base: #191724 !important;
    --rose-pine-surface: #1f1d2e !important;
    --rose-pine-overlay: #26233a !important;
    --rose-pine-muted: #6e6a86 !important;
    --rose-pine-subtle: #908caa !important;
    --rose-pine-text: #e0def4 !important;
    --rose-pine-love: #eb6f92 !important;
    --rose-pine-gold: #f6c177 !important;
    --rose-pine-rose: #ebbcba !important;
    --rose-pine-pine: #31748f !important;
    --rose-pine-foam: #9ccfd8 !important;
    --rose-pine-iris: #c4a7e7 !important;
    --rose-pine-highlight-low: #21202e !important;
    --rose-pine-highlight-med: #403d52 !important;
    --rose-pine-highlight-high: #524f67 !important;

    --is-dark-theme: true !important;
    --color-primary: var(--rose-pine-rose) !important;
    --color-primary-contrast: var(--rose-pine-base) !important;
    --color-primary-dark-1: var(--rose-pine-text) !important;
    --color-primary-dark-2: var(--rose-pine-text) !important;
    --color-primary-dark-3: var(--rose-pine-text) !important;
    --color-primary-dark-4: var(--rose-pine-text) !important;
    --color-primary-dark-5: var(--rose-pine-text) !important;
    --color-primary-dark-6: var(--rose-pine-text) !important;
    --color-primary-dark-7: var(--rose-pine-text) !important;
    --color-primary-light-1: var(--rose-pine-rose) !important;
    --color-primary-light-2: var(--rose-pine-love) !important;
    --color-primary-light-3: var(--rose-pine-iris) !important;
    --color-primary-light-4: var(--rose-pine-subtle) !important;
    --color-primary-light-5: var(--rose-pine-muted) !important;
    --color-primary-light-6: var(--rose-pine-highlight-high) !important;
    --color-primary-light-7: var(--rose-pine-overlay) !important;
    --color-primary-alpha-10: #ebbcba19 !important;
    --color-primary-alpha-20: #ebbcba33 !important;
    --color-primary-alpha-30: #ebbcba4b !important;
    --color-primary-alpha-40: #ebbcba66 !important;
    --color-primary-alpha-50: #ebbcba80 !important;
    --color-primary-alpha-60: #ebbcba99 !important;
    --color-primary-alpha-70: #ebbcbab3 !important;
    --color-primary-alpha-80: #ebbcbacc !important;
    --color-primary-alpha-90: #ebbcbae1 !important;
    --color-primary-hover: var(--rose-pine-text) !important;
    --color-primary-active: var(--rose-pine-rose) !important;

    --color-secondary: var(--rose-pine-overlay) !important;
    --color-secondary-dark-1: var(--rose-pine-highlight-med) !important;
    --color-secondary-dark-2: var(--rose-pine-highlight-high) !important;
    --color-secondary-dark-3: var(--rose-pine-muted) !important;
    --color-secondary-dark-4: var(--rose-pine-subtle) !important;
    --color-secondary-dark-5: var(--rose-pine-subtle) !important;
    --color-secondary-dark-6: var(--rose-pine-text) !important;
    --color-secondary-dark-7: var(--rose-pine-text) !important;
    --color-secondary-dark-8: var(--rose-pine-text) !important;
    --color-secondary-dark-9: var(--rose-pine-text) !important;
    --color-secondary-dark-10: var(--rose-pine-text) !important;
    --color-secondary-dark-11: var(--rose-pine-text) !important;
    --color-secondary-dark-12: var(--rose-pine-text) !important;
    --color-secondary-dark-13: var(--rose-pine-text) !important;
    --color-secondary-light-1: var(--rose-pine-highlight-low) !important;
    --color-secondary-light-2: var(--rose-pine-surface) !important;
    --color-secondary-light-3: var(--rose-pine-base) !important;
    --color-secondary-light-4: var(--rose-pine-base) !important;
    --color-secondary-alpha-10: #26233a19 !important;
    --color-secondary-alpha-20: #26233a33 !important;
    --color-secondary-alpha-30: #26233a4b !important;
    --color-secondary-alpha-40: #26233a66 !important;
    --color-secondary-alpha-50: #26233a80 !important;
    --color-secondary-alpha-60: #26233a99 !important;
    --color-secondary-alpha-70: #26233ab3 !important;
    --color-secondary-alpha-80: #26233acc !important;
    --color-secondary-alpha-90: #26233ae1 !important;
    --color-secondary-button: var(--rose-pine-highlight-med) !important;
    --color-secondary-hover: var(--rose-pine-overlay) !important;
    --color-secondary-active: var(--rose-pine-highlight-low) !important;

    --color-console-fg: var(--rose-pine-text) !important;
    --color-console-fg-subtle: var(--rose-pine-subtle) !important;
    --color-console-bg: var(--rose-pine-base) !important;
    --color-console-border: var(--rose-pine-overlay) !important;
    --color-console-hover-bg: var(--rose-pine-surface) !important;
    --color-console-active-bg: var(--rose-pine-overlay) !important;
    --color-console-menu-bg: var(--rose-pine-surface) !important;
    --color-console-menu-border: var(--rose-pine-highlight-med) !important;

    --color-red: var(--rose-pine-love) !important;
    --color-orange: var(--rose-pine-gold) !important;
    --color-yellow: var(--rose-pine-gold) !important;
    --color-olive: var(--rose-pine-foam) !important;
    --color-green: var(--rose-pine-foam) !important;
    --color-teal: var(--rose-pine-foam) !important;
    --color-blue: var(--rose-pine-pine) !important;
    --color-violet: var(--rose-pine-iris) !important;
    --color-purple: var(--rose-pine-iris) !important;
    --color-pink: var(--rose-pine-love) !important;
    --color-brown: var(--rose-pine-rose) !important;
    --color-black: var(--rose-pine-base) !important;
    --color-red-light: var(--rose-pine-rose) !important;
    --color-orange-light: var(--rose-pine-gold) !important;
    --color-yellow-light: var(--rose-pine-gold) !important;
    --color-olive-light: var(--rose-pine-foam) !important;
    --color-green-light: var(--rose-pine-foam) !important;
    --color-teal-light: var(--rose-pine-foam) !important;
    --color-blue-light: var(--rose-pine-foam) !important;
    --color-violet-light: var(--rose-pine-iris) !important;
    --color-purple-light: var(--rose-pine-iris) !important;
    --color-pink-light: var(--rose-pine-rose) !important;
    --color-brown-light: var(--rose-pine-rose) !important;
    --color-black-light: var(--rose-pine-overlay) !important;
    --color-red-dark-1: var(--rose-pine-love) !important;
    --color-orange-dark-1: var(--rose-pine-gold) !important;
    --color-yellow-dark-1: var(--rose-pine-gold) !important;
    --color-olive-dark-1: var(--rose-pine-foam) !important;
    --color-green-dark-1: var(--rose-pine-foam) !important;
    --color-teal-dark-1: var(--rose-pine-foam) !important;
    --color-blue-dark-1: var(--rose-pine-pine) !important;
    --color-violet-dark-1: var(--rose-pine-iris) !important;
    --color-purple-dark-1: var(--rose-pine-iris) !important;
    --color-pink-dark-1: var(--rose-pine-love) !important;
    --color-brown-dark-1: var(--rose-pine-rose) !important;
    --color-black-dark-1: var(--rose-pine-base) !important;
    --color-red-dark-2: var(--rose-pine-muted) !important;
    --color-orange-dark-2: var(--rose-pine-muted) !important;
    --color-yellow-dark-2: var(--rose-pine-muted) !important;
    --color-olive-dark-2: var(--rose-pine-muted) !important;
    --color-green-dark-2: var(--rose-pine-muted) !important;
    --color-teal-dark-2: var(--rose-pine-muted) !important;
    --color-blue-dark-2: var(--rose-pine-muted) !important;
    --color-violet-dark-2: var(--rose-pine-muted) !important;
    --color-purple-dark-2: var(--rose-pine-muted) !important;
    --color-pink-dark-2: var(--rose-pine-muted) !important;
    --color-brown-dark-2: var(--rose-pine-muted) !important;
    --color-black-dark-2: var(--rose-pine-base) !important;

    --color-ansi-black: var(--rose-pine-base) !important;
    --color-ansi-red: var(--rose-pine-love) !important;
    --color-ansi-green: var(--rose-pine-foam) !important;
    --color-ansi-yellow: var(--rose-pine-gold) !important;
    --color-ansi-blue: var(--rose-pine-pine) !important;
    --color-ansi-magenta: var(--rose-pine-iris) !important;
    --color-ansi-cyan: var(--rose-pine-foam) !important;
    --color-ansi-white: var(--rose-pine-subtle) !important;
    --color-ansi-bright-black: var(--rose-pine-highlight-high) !important;
    --color-ansi-bright-red: var(--rose-pine-rose) !important;
    --color-ansi-bright-green: var(--rose-pine-foam) !important;
    --color-ansi-bright-yellow: var(--rose-pine-gold) !important;
    --color-ansi-bright-blue: var(--rose-pine-foam) !important;
    --color-ansi-bright-magenta: var(--rose-pine-iris) !important;
    --color-ansi-bright-cyan: var(--rose-pine-foam) !important;
    --color-ansi-bright-white: var(--rose-pine-text) !important;

    --color-grey: var(--rose-pine-highlight-med) !important;
    --color-grey-light: var(--rose-pine-subtle) !important;
    --color-gold: var(--rose-pine-gold) !important;
    --color-white: var(--rose-pine-text) !important;

    --color-diff-removed-word-bg: #eb6f924d !important;
    --color-diff-added-word-bg: #9ccfd84d !important;
    --color-diff-removed-row-bg: #eb6f9219 !important;
    --color-diff-moved-row-bg: #f6c17719 !important;
    --color-diff-added-row-bg: #9ccfd819 !important;
    --color-diff-removed-row-border: var(--rose-pine-love) !important;
    --color-diff-moved-row-border: var(--rose-pine-gold) !important;
    --color-diff-added-row-border: var(--rose-pine-foam) !important;
    --color-diff-inactive: var(--rose-pine-surface) !important;

    --color-error-border: var(--rose-pine-love) !important;
    --color-error-bg: #eb6f9219 !important;
    --color-error-bg-active: #eb6f924d !important;
    --color-error-bg-hover: #eb6f9233 !important;
    --color-error-text: var(--rose-pine-rose) !important;
    --color-success-border: var(--rose-pine-foam) !important;
    --color-success-bg: #9ccfd819 !important;
    --color-success-text: var(--rose-pine-foam) !important;
    --color-warning-border: var(--rose-pine-gold) !important;
    --color-warning-bg: #f6c17719 !important;
    --color-warning-text: var(--rose-pine-gold) !important;
    --color-info-border: var(--rose-pine-pine) !important;
    --color-info-bg: #31748f33 !important;
    --color-info-text: var(--rose-pine-foam) !important;

    --color-red-badge: var(--rose-pine-love) !important;
    --color-red-badge-bg: #eb6f921a !important;
    --color-red-badge-hover-bg: #eb6f924d !important;
    --color-green-badge: var(--rose-pine-foam) !important;
    --color-green-badge-bg: #9ccfd81a !important;
    --color-green-badge-hover-bg: #9ccfd84d !important;
    --color-yellow-badge: var(--rose-pine-gold) !important;
    --color-yellow-badge-bg: #f6c1771a !important;
    --color-yellow-badge-hover-bg: #f6c1774d !important;
    --color-orange-badge: var(--rose-pine-gold) !important;
    --color-orange-badge-bg: #f6c1771a !important;
    --color-orange-badge-hover-bg: #f6c1774d !important;

    --color-body: var(--rose-pine-base) !important;
    --color-box-header: var(--rose-pine-highlight-low) !important;
    --color-box-body: var(--rose-pine-surface) !important;
    --color-box-body-highlight: var(--rose-pine-highlight-low) !important;
    --color-text-dark: var(--rose-pine-text) !important;
    --color-text: var(--rose-pine-text) !important;
    --color-text-light: var(--rose-pine-subtle) !important;
    --color-text-light-1: var(--rose-pine-subtle) !important;
    --color-text-light-2: var(--rose-pine-muted) !important;
    --color-text-light-3: var(--rose-pine-muted) !important;
    --color-footer: var(--color-nav-bg) !important;
    --color-timeline: var(--rose-pine-highlight-med) !important;

    --color-input-text: var(--rose-pine-text) !important;
    --color-input-background: var(--rose-pine-surface) !important;
    --color-input-toggle-background: var(--rose-pine-overlay) !important;
    --color-input-border: var(--rose-pine-highlight-med) !important;
    --color-input-border-hover: var(--rose-pine-highlight-high) !important;

    --color-light: #e0def412 !important;
    --color-light-mimic-enabled: rgba(
        224,
        222,
        244,
        calc(18 / 255 * 222 / 255 / var(--opacity-disabled))
    ) !important;
    --color-light-border: #e0def41f !important;
    --color-hover: #e0def412 !important;
    --color-active: var(--rose-pine-overlay) !important;
    --color-menu: var(--rose-pine-surface) !important;
    --color-card: var(--rose-pine-surface) !important;
    --fancy-card-bg: var(--rose-pine-surface) !important;
    --fancy-card-border: var(--rose-pine-overlay) !important;
    --color-markup-table-row: #e0def40f !important;
    --color-markup-code-block: #e0def412 !important;
    --color-markup-code-inline: #e0def41f !important;
    --color-button: var(--rose-pine-surface) !important;
    --color-code-bg: var(--rose-pine-highlight-low) !important;
    --color-shadow: #191724cc !important;
    --color-secondary-bg: var(--rose-pine-overlay) !important;
    --color-expand-button: var(--rose-pine-highlight-low) !important;
    --color-placeholder-text: var(--color-text-light-3) !important;
    --color-editor-line-highlight: var(--rose-pine-highlight-med) !important;
    --color-project-column-bg: var(--rose-pine-surface) !important;
    --color-caret: var(--rose-pine-text) !important;
    --color-reaction-bg: #e0def412 !important;
    --color-reaction-hover-bg: var(--rose-pine-overlay) !important;
    --color-reaction-active-bg: var(--rose-pine-highlight-med) !important;
    --color-tooltip-text: var(--rose-pine-text) !important;
    --color-tooltip-bg: #191724f0 !important;
    --color-nav-bg: var(--rose-pine-base) !important;
    --color-nav-hover-bg: var(--rose-pine-highlight-low) !important;
    --color-nav-text: var(--rose-pine-text) !important;
    --color-secondary-nav-bg: var(--rose-pine-highlight-low) !important;
    --color-label-text: var(--rose-pine-text) !important;
    --color-label-bg: #908caa4b !important;
    --color-label-hover-bg: #908caaa0 !important;
    --color-label-active-bg: #908caaff !important;
    --color-accent: var(--rose-pine-rose) !important;
    --color-small-accent: var(--rose-pine-love) !important;
    --color-highlight-fg: var(--rose-pine-gold) !important;
    --color-highlight-bg: #f6c17719 !important;
    --rose-pine-selection-fg: var(--rose-pine-base) !important;
    --rose-pine-selection-bg: var(--rose-pine-rose) !important;
    --color-overlay-backdrop: #191724c0 !important;
    --checkerboard-color-1: var(--rose-pine-highlight-med) !important;
    --checkerboard-color-2: var(--rose-pine-surface) !important;
    accent-color: var(--rose-pine-rose) !important;
    color-scheme: dark !important;
}

::selection,
*::selection,
html[data-theme="rizz"]::selection,
html[data-theme="rizz"] *::selection,
html[data-theme="rizz"] input::selection,
html[data-theme="rizz"] textarea::selection,
html[data-theme="rizz"] [contenteditable]::selection,
html[data-theme="rose-pine"]::selection,
html[data-theme="rose-pine"] *::selection,
html[data-theme="rose-pine"] input::selection,
html[data-theme="rose-pine"] textarea::selection,
html[data-theme="rose-pine"] [contenteditable]::selection {
    color: var(--rose-pine-selection-fg) !important;
    background-color: var(--rose-pine-selection-bg) !important;
    text-shadow: none !important;
}

::-moz-selection,
*::-moz-selection,
html[data-theme="rizz"]::-moz-selection,
html[data-theme="rizz"] *::-moz-selection,
html[data-theme="rizz"] input::-moz-selection,
html[data-theme="rizz"] textarea::-moz-selection,
html[data-theme="rizz"] [contenteditable]::-moz-selection,
html[data-theme="rose-pine"]::-moz-selection,
html[data-theme="rose-pine"] *::-moz-selection,
html[data-theme="rose-pine"] input::-moz-selection,
html[data-theme="rose-pine"] textarea::-moz-selection,
html[data-theme="rose-pine"] [contenteditable]::-moz-selection {
    color: var(--rose-pine-selection-fg) !important;
    background-color: var(--rose-pine-selection-bg) !important;
    text-shadow: none !important;
}
